%li.arrow.place{ id: "place_#{place_item_counter+1}" }
  %img.icon{ src: place_item.icon }
  = link_to place_item.name, '#home'
  -#.address
    = link_to place_item.address, '#home'
  -#.rating
    = place_item.rating
