/* Raw tags */
body
  margin: 0
  padding: 0

p
  margin-bottom: 1.6em

p.margin0, p:empty
  margin-bottom: 0

img
  max-width: 100%
//ul
//  margin: 0
//  padding: 0
//
//li
//  display: block
//  margin: 0
//  padding: 0
//  list-style: none
//
//.bullets
//  margin: 0 0 2em 8px
//  padding-left: 16px
//  list-style-type: disc
//  list-style-position: outside
//  line-height: 1.2
//
//  li
//    margin-bottom: 0.5em


/* Primary layout elements */
#page
  position: relative

#layout

#header, #page_content, #footer

#page_content
  text-align: left

