#jqt #home

  .toolbar .back
    display: none

  li.place
    .icon
      width: 16px
      float: left
      position: relative
      top: 4px

      img
        width: 16px

    a
      margin-left: 4px
      +inline-block
